@{
    ViewBag.Title = "Homepage";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Weitere Informationen zu ASP.NET MVC finden Sie unter
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                Die Seite enthält <mark>Videos, Lernprogramme und Beispiele,</mark> die Sie bei der optimalen Nutzung von ASP.NET MVC unterstützen.
                Wenn Sie Fragen zu ASP.NET MVC haben, besuchen Sie
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">unsere Foren</a>.
            </p>
        </div>
    </section>
}
<h3>Wir empfehlen Ihnen Folgendes:</h3>
<ol class="round">
    <li class="one">
        <h5>Erste Schritte</h5>
        ASP.NET MVC bietet ein leistungsfähiges, auf Mustern basierendes Verfahren zum Erstellen dynamischer Websites, die
        eine klare Trennung von Belangen ermöglichen und Ihnen die vollständige Steuerung von Markup erlauben,
        um eine angenehme und flexible Entwicklung zu gewährleisten. ASP.NET MVC enthält zahlreiche Funktionen, die
            eine schnelle und TDD-freundliche Entwicklung zum Erstellen anspruchsvoller Anwendungen ermöglichen, die
            die aktuellsten Webstandards verwenden.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Weitere Informationen…</a>
    </li>

    <li class="two">
        <h5>NuGet-Pakete hinzufügen und schneller Einstieg in die Codierung</h5>
        NuGet vereinfacht das Installieren und Aktualisieren kostenloser Bibliotheken und Tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Weitere Informationen…</a>
    </li>

    <li class="three">
        <h5>Webhostinganbieter suchen</h5>
        Sie können auf einfache Weise ein Webhostingunternehmen finden, das die richtige Mischung aus Preis
        und Funktionen für Ihre Anwendungen bietet.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Weitere Informationen…</a>
    </li>
</ol>
